<div class="language-switcher flex items-center space-x-4"
     data-controller="locale">
  <select name="locale"
          id="locale"
          class="px-3 py-2 rounded-lg bg-smoky-white text-gray-800 font-medium border border-gray-300 shadow-sm"
          data-locale-target="localeSelect"
          data-action="change->locale#changeLocale">
    <% I18n.available_locales.each do |locale| %>
      <option value="<%= locale %>" <%= 'selected' if locale == I18n.locale %>>
        <%= locale.to_s.upcase %>
      </option>
    <% end %>
  </select>
</div>
